DATABASE_URL="postgresql://postgres:password@db.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:password@db.supabase.co:5432/postgres"
SUPABASE_URL="https://your-project.supabase.co"
SUPABASE_ANON_KEY="your-anon-key"
SESSION_SECRET="sua-chave-secreta"