# Conexão com Supabase via connection pooling (Porta 6543)
DATABASE_URL="postgresql://postgres.pplrjqnjhukgfejkblmv:[Senha]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Conexão direta com o banco de dados. Usada para migrações (Porta 5432)
DIRECT_URL="postgresql://postgres.pplrjqnjhukgfejkblmv:[Senha]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"