# Dependências
node_modules/
/node_modules
/.react-router

# Builds e Saídas
/build
/dist
/public/build

# Variáveis de Ambiente (CRÍTICO)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Caches e Temporários
.cache/
.eslintcache
.stylelintcache
.prettiercache
.parcel-cache
.turbo
.DS_Store

# Prisma e Banco de Dados Local
/.prisma
/prisma/*.db
/prisma/*.db-journal

# IDEs
.vscode/
.idea/
*.swp
*.swo
